backgroundBase = #ededed
border-radius(){
	-webkit-border-radius:arguments
	-moz-border-radius:arguments
	-ms-border-radius:arguments
	-o-border-radius:arguments
	border-radius:arguments
}
	
.container{
	width:500px;
	height:500px;
	border-radius:5px;
	border:1px solid backgroundBase;
	margin:0 auto;
}

html,body{
	height:100%;
	margin:0;
	padding:0;
}
.root{
	height:100%;
}
	
	